.counters-sec {
    margin-bottom: 2rem;
}

.counters {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.counter {
    padding: 1rem;
    width: 14.5rem;
    background-color: var(--white);
    border-radius: var(--border-rad);
}

.counter .counter-head {
    margin-bottom: 1.5rem;
    /* remove this */
    gap: 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter .counter-no {
    /* padding: 0.5rem; */
    padding: 0.7rem 1rem;
    width: fit-content;
    /* update this to center */
    text-align: left;
    /* update this to 1.2 */
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
    border-radius: var(--border-rad);
    border: 5px solid rgb(235, 234, 234);
}

.counter .open-close {
    padding: 0.4rem 0.4rem;
    width: fit-content;
    text-align: center;
    font-size: 0.8em;
    border-radius: 10px;
    opacity: 80%;
}

.counter .open {
    background-color: var(--light);
}

.counter .closed {
    background-color: rgb(255, 203, 203);
}

.counter-field {
    margin: 1rem 0.6rem 1rem;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.counter-field svg {
    min-width: 1rem;
}

.counter-field .field-name {
    width: 6.8rem;
    font-size: 15px;
}

.counter-field .field-data {
    width: 100%;
    text-align: right;
}

.counter button {
    width: 100%;
}