.profile {
    padding: 3rem;
    font-size: 1rem;
}

.profile h1 {
    margin-bottom: 2rem;
}

.profile-container {
    display: flex;
    gap: 1rem;
}

.profile-left {
    flex-basis: 20%;
}

.profile-left .basic-dets {
    background-color: var(--white);
    border-radius: var(--border-rad);
    padding: 2rem;
}

.basic-dets .profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-dets .profile-img img {
    margin-bottom: 2rem;
    border-radius: 100%;
    border: 5px solid var(--medium);
    width: 6rem;
    height: 6rem;
}

.basic-dets .dets p {
    margin-bottom: 0.5rem;
    text-align: center;
}

.basic-dets .dets .uname {
    font-weight: 100;
}

.profile-right {
    position: relative;
    flex-basis: 70%;
    width: 70%;
}

.profile-right .profile-dets {
    padding: 2rem;
    background-color: var(--white);
    border-radius: var(--border-rad);
}

.profile-right .profile-dets .edit-btn {
    position: sticky;
    top: 2rem;
    /* right: 2rem; */
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 1.5em;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(239, 239, 239);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.256);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-right .profile-dets .head {
    font-size: 1.5em;
}

.profile-right .profile-dets .dets-img {
    margin-bottom: 2rem;
    border-radius: var(--border-rad);
    overflow: hidden;
    max-height: 15rem;
}

.profile-right .profile-dets .dets-img img {
    width: 100%;
}

.profile-right .profile-dets .inp {
    margin-bottom: 1.4rem;
}

.profile-right .profile-dets .inp .extra {
    margin: 5px 0 7px;
    color: gray;
    font-size: 0.8em;
}

.profile-right .profile-dets .inp input[type="checkbox"] {
    width: 2rem;
}

.profile-right .profile-dets .inp .restrict-edit {
    background-color: rgb(239, 239, 239);
    color: black;
    border: none;
}

.profile-right .profile-dets button {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.7rem;
}