.shop-owner-dash {
    padding: 3rem;
    font-size: 1rem;
}

.shop-owner-dash h1 {
    margin-bottom: 2rem;
}

.shop-owner-dash .add-btn-c {
    display: flex;
    justify-content: end;
}

.shop-owner-dash .add-btn-c .add-btn {
    padding-top: 11px;
    padding-bottom: 12px;
    font-size: 1.5em;
    border-radius: 50px;
    display: flex;
    align-items: center;
}


.employees {
    padding: 3rem;
    font-size: 1rem;
}

.queues-list {
    overflow: auto;
}

/* .queue-th {
    display: flex;
    align-items: center;
    justify-content: space-between; */
/* padding: 0 1rem; */
/* font-size: 1.1rem;
    background-color: var(--medium);
    padding: 0.8rem 1rem;
    border-radius: var(--border-rad);
    margin: 2rem 0 2rem;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
} */

.shop-owner-dash .queue-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.9rem 1rem;
    border-radius: var(--border-rad);
    margin: 1rem 0;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.163);
}

.shop-owner-dash .queue-th,
.shop-owner-dash .queue-box {
    min-width: 60rem;
}

.shop-owner-dash .queue-box .queue-val,
.shop-owner-dash .queue-th .queue-head {
    width: 20vw;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 1rem;
}

.shop-owner-dash .queue-box .queue-val {
    scrollbar-width: none;
    min-width: 14vw;
    font-size: 0.9em;
    overflow: auto;
    /* text-align: center; */
}

.shop-owner-dash .queue-box .queue-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-owner-dash .queue-box .queue-val:last-child,
.shop-owner-dash .queue-th .queue-head:last-child {
    border-right: none;
}

/* UpdateWaitTime Styling */

.update-wait-time {
    padding: 2rem 0;
    margin: 1rem 0 2rem;
}

.update-wait-time .head-text {
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.wait-time-inps {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.wait-time-inps .time-inp label {
    margin-bottom: 1rem;
}

.wait-time-inps button {
    margin-top: 2rem;
}

.update-wait-time .txt {
    margin-bottom: 1rem;
}

.wait-time-inps input,
.wait-time-inps select {
    border: none !important;
}